body
{
    margin: 0px;
    background-color: rgb(102, 153, 153);
    background-size: cover;
    border-style: solid;
    border-color: yellowgreen;
    border-width:20px;
    height: fit-content;
}

.header
{
    height: 350px;
    width: 100%;  
    background-image: url("background.jpg");
    background-size: cover;   
}

.name-and-desig
{
    position: relative;
    color: white;
    border-radius: 3%;
    font-size: 70px;
    top: 140px;
    width: fit-content;
    left: 20px;
}

.designation
{
    font-size: 50px;
}

#about
{
    position: relative;
    background-color: white;
    font-size:30px;
    display: flex;
}

.education-and-empoyment-png
{
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.employment-section
{
    margin-top: 50px;
}

#top_left
{
  position:absolute;
  width:595px;
  height:500px; 
  font-weight: bold;
  border-style:solid;
  border-color:white;
}

#skills
{
    background-color: antiquewhite;
    flex: 1;
}

.skills-a
{
    background-color: white;
    border-color:black;
    border-style: solid; 
    font-weight: bold; 
    font-size: 40px;
}

.skills-b
{
    background-color:grey;
}

.contact-details-section
{
    background-color: blue;
    flex: 1;
}

.education-and-employment
{
    background-color: black;
    color: white;
    flex: 1;
}

#skills-heading
{
    background-color:black;
    color:green;
    font-weight: bold;
    font-size: 40px;
    border-color:black;
    border-style: solid;
}

.links
{ 
    position: relative;
    bottom: 35%;
    left: 80%;
    width: fit-content;
    font-size: 20px;
}

a
{
    color: white;
    text-decoration: none;
}

a:hover
{
    color: thistle;
}

@media only screen and (max-width: 600px) {
    .name, .designation {
      font-size: 30px;
    }
  }

  @media only screen and (max-width: 600px) {
    #about {
      display: flex;
      flex-direction: column;
    }
  }