body {
  margin: 0px;
  border-style: solid;
  border-color: yellowgreen;
  border-width: 20px;
  background-color: rgb(168, 168, 168);
}

.header {
  height: 350px;
  width: 100%;
  background-image: url("background.jpg");
  background-size: cover;
  position: relative;
}

.name-and-desig {
  position: relative;
  color: white;
  border-radius: 3%;
  font-size: 70px;
  top: 140px;
  width: fit-content;
  left: 20px;
}

.designation {
  font-size: 50px;
}

.about {
  position: relative;
  font-size: 20px;
  display: flex;
  text-align: center;
  font-family: Verdana, sans-serif;
}

.logos {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.skills {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-a {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-right: none;
  border-left: none;
}

.skills-b {
  background-color: grey;
}

.contact-details-section {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.education-and-employment-section {
  background-color: black;
  color: white;
  flex: 1;
}

.headings {
  background-color: black;
  color: yellowgreen;
  border-color: yellowgreen;
  border-style: solid;
  border-left: none;
  font-family: Verdana, sans-serif;
}

.links {
  position: absolute;
  left: 80%;
  top: 5%;
  width: fit-content;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: thistle;
}

@media only screen and (max-width: 600px) {
  .name,
  .designation {
    font-size: 30px;
  }
}

@media only screen and (max-width: 770px) {
  .about {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 950px) {
  .links {
    font-size: 15px;
  }
}

@media only screen and (max-width: 750px) {
  .links {
    font-size: 9px;
  }
}
