body
{
    margin: 0%;
    border-style: solid;
    border-color: yellowgreen;
    border-width:20px;
    width: fit-content;
    height: fit-content;
    background-color: black;
}

.header
{
    height: 350px;
    width: 100%;  
    background-image: url("background.jpg");
    background-size: cover;   
}

.name-and-desig
{
    position: relative;
    color: white;
    border-radius: 3%;
    font-size: 70px;
    top: 140px;
    width: fit-content;
    left: 20px;
}

.designation
{
    font-size: 50px;
}

.links
{
    position: relative;
    bottom: 35%;
    left: 80%;
    width: fit-content;
    font-size: 20px;
}

a
{
    color: white;
    text-decoration: none;
}

a:hover
{
    color: thistle;
}

#project-heading
{
    top: 50px;
    font-size: 40px;
    text-decoration: underline;
}

.project-name
{
    margin-top: 30px;
    font-size: 30px;
}

.project-details
{
    font-size: 20px;
    margin-top: 20px;
}

#projects
{
    margin: 50px 100px 50px 100px;
    color: green;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .name, .designation {
      font-size: 30px;
    }
  }

